/* ==UserStyle==
@name           Dark Github by keystoneclimber
@namespace      http://www.brandontarr.com
@version        1.0.6
@description    dark style for Github
@author         keystoneclimber
@homepageURL    https://github.com/keystoneclimber/stylus_scripts/
==/UserStyle== */

@-moz-document domain("githubusercontent.com"), domain("graphql-explorer.githubapp.com"), regexp("^https?://((gist|guides|help|raw|status|developer)\\.)?github\\.com/((?!generated_pages/preview).)*$") {

  
[data-color-mode="dark"][data-dark-theme="dark_colorblind"], [data-color-mode="dark"][data-dark-theme="dark_colorblind"] ::backdrop, [data-color-mode="auto"][data-light-theme="dark_colorblind"], [data-color-mode="auto"][data-light-theme="dark_colorblind"] ::backdrop {
    --color-prettylights-syntax-comment: #505050;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #a6e22e;
    --color-prettylights-syntax-keyword: #f92672;
    --color-prettylights-syntax-string: #ffe792;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    
/*     --color-prettylights-syntax-constant-other-reference-link: #a5d6ff; */
/*     --color-prettylights-syntax-storage-modifier-import: #c9d1d9; */
/*     --color-prettylights-syntax-entity-tag: #a5d6ff; */
/*     --color-prettylights-syntax-variable: #ffa657; */
/*     --color-prettylights-syntax-brackethighlighter-unmatched: #db6d28; */
/*     --color-prettylights-syntax-brackethighlighter-angle: #8b949e; */
/*     --color-prettylights-syntax-invalid-illegal-text: #f0f6fc; */
/*     --color-prettylights-syntax-invalid-illegal-bg: #762d0a; */
/*     --color-prettylights-syntax-carriage-return-bg: #9b4215; */
/*     --color-prettylights-syntax-string-regexp: #a5d6ff; */
/*     --color-prettylights-syntax-markup-list: #f2cc60; */
/*     --color-prettylights-syntax-markup-heading: #1f6feb; */
/*     --color-prettylights-syntax-markup-italic: #c9d1d9; */
/*     --color-prettylights-syntax-markup-bold: #c9d1d9; */
/*     --color-prettylights-syntax-markup-deleted-text: #ffdfb6; */
/*     --color-prettylights-syntax-markup-deleted-bg: #5a1e02; */
/*     --color-prettylights-syntax-markup-inserted-text: #cae8ff; */
/*     --color-prettylights-syntax-markup-inserted-bg: #0c2d6b; */
/*     --color-prettylights-syntax-markup-changed-text: #ffdfb6; */
/*     --color-prettylights-syntax-markup-changed-bg: #5a1e02; */
/*     --color-prettylights-syntax-markup-ignored-text: #c9d1d9; */
/*     --color-prettylights-syntax-markup-ignored-bg: #1158c7; */
/*     --color-prettylights-syntax-meta-diff-range: #d2a8ff; */
/*     --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58; */
}
    

}