/* ==UserStyle==
@name           Native Dark Google Calendar Cleanup by keystoneclimber
@namespace      http://www.brandontarr.com
@version        1.0.11
@description    Cleaning up the native dark Google Calendar
@author         keystoneclimber
@homepageURL    https://github.com/keystoneclimber/stylus_scripts/
==/UserStyle== */

@-moz-document url-prefix("http://www.google.com/calendar"), url-prefix("https://www.google.com/calendar"), url-prefix("http://calendar.google.com"), url-prefix("https://calendar.google.com") {
:root {

--color-black: #000000;
--color-background: #111111;
--color-flyout: #171717;
--color-flyout-highlight: #222222;
--color-active-day: #222222;
--color-checkboxes: #222222;    
--color-dropdowns: #171717;    
--color-button: #444444;
--color-button-hover: #666666;
--color-borders: #777777;
--color-buttontext: #A4A4A4;
--color-text-inactive: #222222;    
--color-text: #444444;
--color-text-dialog: #777777;
--color-text-dialog-active: #DDDDDD;
--color-text-active: #A4A4A4;
--color-red-highlight: #DD4B39;
--color-white: #FFFFFF;    
--color-id: chartreuse;
    
}

/* -------------------------------- */
/* general */
/* -------------------------------- */

/* hide calendar icon, big "+" circle*/
header img:not([class="gb_m gbii"]), .dwlvNd {
  display: none !important;
}
    
/* hide Google colored circles around user picture */
#gb > div > div > div > div > div > a > div > svg > path {
    display: none !important;  
}
    
/* hide right side addon bar */
.gboEAb {
  display: none !important;
}    

    
    
/* -------------------------------- */
/* header bar */
/* -------------------------------- */
    
/* date size */
.UyW9db {
    font-size: 14px;
    font-weight:  500;
}
    
    /* calendar text */
.gb_rd.gb_9c {
    font-size: 17px;
}
    
/* -------------------------------- */
/* month-view calendar display */
/* -------------------------------- */


/* weekday headings */
.wuX2hf {
    background: var(--color-button) !important;
    padding-bottom: 5px !important;
    text-align: left !important;
    text-transform:  none !important;
}

/* weekday headings */
.EeuFAf {
  color: var(--color-buttontext) !important;
}
    
}